{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Idusuario</th>
                <th>Correo</th>
                <th>Contrasenia</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'idUsuario': usuario.idUsuario }) }}">{{ usuario.idUsuario }}</a></td>
                <td>{{ usuario.correo }}</td>
                <td>{{ usuario.contrasenia }}</td>
                <td>{{ usuario.estado }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usuario_show', { 'idUsuario': usuario.idUsuario }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('usuario_edit', { 'idUsuario': usuario.idUsuario }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuario_new') }}">Create a new usuario</a>
        </li>
    </ul>
{% endblock %}
