{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estadocivils list</h1>

    <table>
        <thead>
            <tr>
                <th>Idestadocivil</th>
                <th>Nombreestadocivil</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estadocivil in estadocivils %}
            <tr>
                <td><a href="{{ path('estadocivil_show', { 'idEstadoCivil': estadocivil.idEstadoCivil }) }}">{{ estadocivil.idEstadoCivil }}</a></td>
                <td>{{ estadocivil.nombreEstadoCivil }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('estadocivil_show', { 'idEstadoCivil': estadocivil.idEstadoCivil }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('estadocivil_edit', { 'idEstadoCivil': estadocivil.idEstadoCivil }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estadocivil_new') }}">Create a new estadocivil</a>
        </li>
    </ul>
{% endblock %}
