{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estadocivil</h1>

    <table>
        <tbody>
            <tr>
                <th>Idestadocivil</th>
                <td>{{ estadocivil.idEstadoCivil }}</td>
            </tr>
            <tr>
                <th>Nombreestadocivil</th>
                <td>{{ estadocivil.nombreEstadoCivil }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estadocivil_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('estadocivil_edit', { 'idEstadoCivil': estadocivil.idEstadoCivil }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
