{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sexo</h1>

    <table>
        <tbody>
            <tr>
                <th>Idsexo</th>
                <td>{{ sexo.idSexo }}</td>
            </tr>
            <tr>
                <th>Nombresexo</th>
                <td>{{ sexo.nombreSexo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sexo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sexo_edit', { 'idSexo': sexo.idSexo }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
