{% extends 'base.html.twig' %}

{% block body %}
    <h1>Personas list</h1>

    <table>
        <thead>
            <tr>
                <th>Idpersona</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dui</th>
                <th>Nit</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for persona in personas %}
            <tr>
                <td><a href="{{ path('persona_show', { 'idPersona': persona.idPersona }) }}">{{ persona.idPersona }}</a></td>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.apellido }}</td>
                <td>{{ persona.dui }}</td>
                <td>{{ persona.nit }}</td>
                <td>{{ persona.direccion }}</td>
                <td>{{ persona.telefono }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('persona_show', { 'idPersona': persona.idPersona }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('persona_edit', { 'idPersona': persona.idPersona }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('persona_new') }}">Create a new persona</a>
        </li>
    </ul>
{% endblock %}
